body {
  background-color: #f8f9fa;
}



.btn-secondary:hover {
  background-color: #6c757d;
  color: white;
  transition: 0.3s;
}

.navbar-nav .dropdown-menu {
  margin-right: 10px; 
}



img.tipos-computadores{
  width: 80%;       
  max-width: 400px; 
  height: 200px;     
  
  
}
img.img-hs{
  width: 80%;
  max-width: 300px; 
  height: 300px;
}

img.logos{
  width: 80%;
  max-width: 300px; 
  height: 300px;
}



p{
  font-size: 1.25rem;
  
  margin-bottom: 0;
}

h1 {
  font-size: 3.75rem; 
}

h2 {
  font-size: 2.5rem;
}

li{
  font-size: 1.25rem;
}

@media (max-width: 200px) {
  h1, h2 {
    font-size: 1.2rem; /* diminui títulos */
    text-align: center;
  }

  p, li, td, th {
    font-size: 0.85rem; /* diminui fonte do texto */
  }

  
}
